.anime-chart {
	position: relative;
	margin-top: -110px;
	margin-left: 1vw;
	margin-right: 1vw;
	overflow: hidden;
	margin-bottom: 3rem;
	@media screen and (max-width: 550px) {
		margin-top: 0.5rem;
		margin-bottom: 5rem;
	}
}

.anime-container {
	padding-top: 1rem;
	width: 100%;
}

.TV {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	h3 {
		@media screen and (max-width: 550px) {
			color: #2b2d42;
		}
	}
}

.type-heading {
	text-align: center;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.skeleton {
	width: 500px;
	height: 256px;
	@media screen and (max-width: 500px) {
		min-width: 300px;
	}
}
.MuiSkeleton-fitContent {
	max-width: unset !important;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	min-width: 460px;
	grid-gap: 2rem;

	@media screen and (max-width: 500px) {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 1rem;
	}
}
