.anime-chart {
	position: relative;
	margin-top: -110px;
	margin-left: 1vw;
	margin-right: 1vw;
}

.anime-container {
	padding-top: 1rem;
}

.TV {
	height: 500px;
	width: 100%;
	border: 1px solid red;
}
