.anime-chart {
  position: relative;
  margin-top: -110px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.anime-container {
  padding-top: 1rem;
  width: 100%;
}

.TV {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
